version: "3"
services:
  turtlebot3:
    container_name: humble-tb3
    image: humble:tb3
    privileged: true
    build:
      context: .
      args:
        - USER_NAME=${USER_NAME}
        - GROUP_NAME=${GROUP_NAME}
        - UID=${UID}
        - GID=${GID}
    environment:
      - DISPLAY=${DISPLAY}
      - PULSE_SERVER=unix:/tmp/pulseaudio.socket
      - PULSE_COOKIE=/tmp/pulseaudio.cookie
    volumes:
       - /tmp/.X11-unix:/tmp/.X11-unix
       #- /tmp/pulseaudio.socket:/tmp/pulseaudio.socket
       #- /tmp/pulseaudio.client.conf:/etc/pulse/client.conf
       - $HOME/.Xauthority/:/root/.Xauthority
       - /dev:/dev
       - ./turtlebot3_common:/colcon_ws/src/turtlebot3_common
       - $PKGS_PATH_ABS:/colcon_ws/src/extra_pkgs
    devices:
       - /dev:/dev
    ipc: host
    network_mode: host
    tty: true
    stdin_open: true
    user: "${UID}:${GID}"
    #command: /bin/bash -c "source ~/.bashrc; export TURTLEBOT3_MODEL=burger; ros2 launch turtlebot3_gazebo turtlebot3_world.launch.py"
    #command: /bin/bash -c "source ~/.bashrc; ros2 launch tb3_common turtlebot3_sim_minimum_bringup.launch.py"
    command: /bin/bash
